<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= filename || ''%></title>
  <% links.each do |link| -%>
    <%= link.to_tag %>
  <% end %>
  <style>
    #wrapper {
      width: 920px;
      margin: 20px auto;
    }
  </style>
</head>
<body>
  <div id="wrapper">
  <div id="slider">
    <div class="frames">
      <div class="frame">
        <div id="readme" class="clearfix announce instapaper_body md">
          <span class="name"><%= filename || ''%></span>
          <article class="markdown-body entry-content">
            <%= body -%>
          </article>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
